body{
    height: 100vh;
    background-color: red;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width: 200px;
    height: 350px;
    margin: 20px;
    border: 1px solid black;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.two{
    display: none;
}
.three{
    display: none;
}
@media screen and (max-width:984px) {
    body{
        background-color: blue;
    }
    .box{
        width: 40%;
        border: 5px solid red;
    }
    .two{
        display: block;
    }
    .one{
        display: none;
    }

}

@media screen and (max-width:615px){
    body{
        background-color: green;
    }
    .box{
        width: 100%;
        border: 5px solid white;
    }
    .three{
        display: block;
    }
    .two{
        display: none;
    }

}
@media screen and (max-width: 302px){
    body{
        display: none;
    }
}